.row
  .col-md-8
    %h3 List URLs
    %table.table
      %thead
        %tr
          %th Original URL
          %th Short URL
          %th Actions
      %tbody{id: "list_urls"}
        - @urls.each do |url|
          = render "url", url: url

    = paginate @urls
  .col-md-4
    .card
      .card-header
        %h4 Shorten URL
      .card-body
        = render "form", url: Url.new